<div [class.dark-theme]="config.Settings.UseDarkTheme">
  <mat-sidenav-container class="app-container">
    <mat-sidenav-content class="flex-column">
      <mat-toolbar color="primary">
        <mat-divider [vertical]="true" class="accent-divider"></mat-divider>
        <span>Wolfpack RPG Client</span>
        <span class="fill-space"></span>
        <span *ngIf="ircService.IsConnected else usernameLoggedOut">
          <button mat-button [matMenuTriggerFor]="userMenu">{{config.Authentication.User}}<mat-icon>arrow_drop_down
            </mat-icon>
          </button>
          <mat-menu #userMenu="matMenu">
            <button mat-menu-item>
              <mat-slide-toggle (click)="$event.stopPropagation();" color="accent"
                [(checked)]="config.Settings.UseDarkTheme" (change)="toggleTheme()">Dark
                Theme</mat-slide-toggle>
            </button>
            <button mat-menu-item>Logout</button>
          </mat-menu>
        </span>
        <ng-template #usernameLoggedOut>
          <span>
            <button mat-button (click)="router.navigate(['/'])">Log In</button>
          </span>
        </ng-template>
      </mat-toolbar>
      <mat-divider></mat-divider>
      <mat-toolbar>
        <span>
          <button mat-button (click)="toggleWidget('Console')">Console</button>
          <button mat-button (click)="toggleWidget('Character')">Character</button>
          <button mat-button disabled (click)="toggleWidget('Pet')">Pets</button>
          <button mat-button disabled (click)="toggleWidget('Group')">Group</button>
          <button mat-button disabled (click)="toggleWidget('Group Chat')">Group Chat</button>
          <button mat-button disabled (click)="toggleWidget('Dungeon')">Dungeon</button>
          <button mat-button disabled (click)="toggleWidget('Fishing')">Fishing</button>
          <button mat-button disabled (click)="toggleWidget('Shop')">Shop</button>
          <button mat-button disabled (click)="toggleWidget('Info')">Info</button>
        </span>
      </mat-toolbar>
      <div class="flex-column">
        <app-widget-container></app-widget-container>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>