<div fxFlex fxLayout="column" fxLayoutGap="10px" style="min-height: 100vh">
  <div fxLayout="row wrap" style="height: 100%">
    <div
      *ngFor="let factory of factories; index as i"
      [fxFlex]="factories.length === 1 ? 100 : factories.length <= 4 ? 50 : 33"
      fxFlex.md="50"
      fxFlex.lt-md="100"
      fxLayout="column"
    >
      <mat-card matRipple>
        <mat-card-title>
          <div class="contain-space">
            <span
              ><img src="./assets/{{ getWidgetIcon(i) }}" width="32px"
            /></span>
            <span>&nbsp;</span>
            <span>{{ getWidgetName(i) }}</span>
            <span class="fill-space"></span>
            <span>
              <button mat-icon-button color="warn" (click)="closeWidget(i)">
                <mat-icon>close</mat-icon>
              </button>
            </span>
          </div>
        </mat-card-title>
        <app-widget-factory
          [factory]="factory"
          [audioPlayerService]="audioPlayerService"
          [clientDataService]="clientDataService"
          [eventSubService]="eventSubService"
          [configManager]="configManager"
          [commandService]="commandService"
          [ripple]="ripple"
          [name]="getWidgetName(i)"
        >
        </app-widget-factory>
      </mat-card>
    </div>
  </div>
</div>
