/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
}

.contain-space {
  display: flex;
}

.fill-space {
  flex: 1 1 auto;
}

mat-divider.accent-divider {
  height: 65%;
  margin-left: 0;
  margin-right: 8px;
}

.app-container {
  display: flex !important;
  flex-direction: column !important;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

app-widget-container, app-widget-factory,
app-widget-container > div, app-widget-factory > * {
  display: flex !important;
  flex-direction: column !important;
  flex-grow: 1;
}

mat-sidenav-content {
  display: flex !important;
  flex-direction: column !important;
  flex-grow: 1 !important;
}

mat-card {
  width: auto;
  height: calc(100% - 1px);
  display: flex !important;
  flex-direction: column !important;
  flex-grow: 1 !important;
}

.flex-column mat-card {
  margin: 10px;
}

textarea {
  resize: none !important;
  width: 100%;
  height: 100%;
}
